body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    font-size: 20px;
}

#submitButton {
    display: none;
}

#startButton {
}
  
#answersSelect {
  display: none;
}
  
#questionText {
  display: none;
}
  
#score {
  display: none;
}